#location-details-text {
	text-length: 500;
	x: 10;
	y: 10;
	width: 100%-20;
	height: 100%-20;
	font-size: 20;
}

#remove-location-button {
	fill: white;
}

#start-navigation-button {
	fill: white;
}
