#navigation-bearing rect {
	x: -2;
	y: -120;
	width: 4;
	height: 120;
	fill: red;
}

#to-text {
	font-size: 20;
	x: 50%;
	y: 20+5%;
	text-anchor: middle;
}

#distance-text {
	font-size: 40;
	font-weight: bold;
	x: 50%;
	y: 50%+20;
	text-anchor: middle;
}
