text {
	fill: white;
}

.tile-list-item {
	height: 88;
}

.tile-list-item text {
	font-family: System-Regular;
	fill: 'white';
}

.tile-divider-bottom {
	x: 0;
	y: 100%-2;
	width: 100%;
	height: 2;
	fill: #a0a0a0;
}
